<ion-view hide-nav-bar="true" title="TimeWarp!" id="page6">
    <div style='background-color:#ff6d64;position:absolute;top:0;bottom:0;left:0;right:0;z-index:10000;' ng-if='!dataLoaded'>
        <img src="{{bunnyUrl}}" width="100px" height="auto" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)"/>
    </div>
    <span id='image-data' data-image-1="<%= image_url('running-bunny-white-1.pdf') %>" data-image-2="<%= image_url('running-bunny-white-2.pdf') %>" data-image-3="<%= image_url('running-bunny-white-3.pdf') %>" data-image-4="<%= image_url('running-bunny-white-4.pdf') %>" data-image-5="<%= image_url('running-bunny-white-5.pdf') %>" data-image-6="<%= image_url('running-bunny-white-6.pdf') %>" data-image-7="<%= image_url('running-bunny-white-7.pdf') %>" data-image-8="<%= image_url('running-bunny-white-8.pdf') %>" data-image-9="<%= image_url('running-bunny-white-9.pdf') %>" data-image-10="<%= image_url('running-bunny-white-10.pdf') %>" data-image-11="<%= image_url('running-bunny-white-11.pdf') %>" data-image-12="<%= image_url('running-bunny-white-12.pdf') %>" data-image-13="<%= image_url('running-bunny-white-13.pdf') %>"></span>
    <ion-content>
        <div class='home-info' style='background-color:#1b191d;'>
            <img class='timewarp-image' src="<%= image_url('TimeTravelDark.jpg') %>">
            <div class='home-text'>
                <h4>TimeWarp!</h4>
                <h4>Save up to {{flightDetails['whatever']['currentPrice'] - flightDetails['whatever']['tierPrice'] | currency:"$":0}} per ticket!</h4>
                <br>
                <h5>No need to wait! Book your flights today at the low prices of the future. 100% guaranteed and fully refundable.</h5>
                <br>
                <h5>TimeWarp closes in:<h5> 
                <h4>{{countdown}}</h4>
            </div>
        </div>
    </ion-content>
    <button ng-if='dataLoaded' ng-click="letsDoThis()" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-block fixed-to-bottom">Let's do this!</button>
</ion-view>